canvas {
  margin: 15px 0;
  border-style: solid;
  border-width: 3px;
  border-color: #DD72E2;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  left: 0;
  right: 0;
  margin-top: auto;
  margin-bottom: auto;
  top: -10%;
  bottom: 0;
}

:root {
  --shadow-color: #DD72E2;
  --shadow-color-light: #f0f0f0;
}

@font-face {
  font-family: "heading0";
  src: url("./fonts/mokoto_glitch-webfont.woff") format('woff');
}

@font-face {
  font-family: "heading1";
  src: url("./fonts/mokoto_glitch_mark-webfont.woff") format('woff');
}

@font-face {
  font-family: "heading2";
  src: url("./fonts/mokoto_glitch_mark_2-webfont.woff") format('woff');
}

html,
body {
  height: 100%;
  background: black;
  position: relative;
  z-index: 1;
  overflow: hidden;
  overflow-x: hidden;
}

.hex {
  position: relative;
  width: 100vw;
}

hex {
  background-image: url(./ut.png);
  background-size: contain;
  height: 112px;
  width: 105px;
  position: absolute;
  opacity: 0;
  top: calc(50% - 66px);
  left: calc(50% - 66px);
  transform: rotateZ(360deg);
  -webkit-animation: opacity 2s ease-in-out infinite;
  animation: opacity 2s ease-in-out infinite;
}

@keyframes enterright {
  0% {
    left: -100%;
  }

  100% {
    left: 50%;
  }
}

@keyframes droptop {
  0% {
    top: -100%;
  }

  100% {
    top: -2%;
  }
}

@keyframes opacity {

  0%,
  100% {
    opacity: .1;
  }

  50% {
    opacity: .35;
  }
}

@keyframes fadeout {
  100% {
    opacity: 0;
  }
}

@keyframes fadein {
  from {
    opacity: 0.2;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0.2;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0.2;
  }

  to {
    opacity: 1;
  }
}

@-ms-keyframes fadein {
  from {
    opacity: 0.2;
  }

  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  from {
    opacity: 0.2;
  }

  to {
    opacity: 1;
  }
}

@keyframes neon {
  0% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
      0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
  }

  50% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 5px var(--shadow-color-light), 0 0 15px var(--shadow-color-light), 0 0 25px var(--shadow-color-light),
      0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 60px var(--shadow-color), 0 0 80px var(--shadow-color), 0 0 110px var(--shadow-color), 0 0 210px var(--shadow-color);
  }

  100% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
      0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
  }
}

@keyframes neonbox {
  0% {
    box-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
      0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color),
      inset 3px 3px 10px var(--shadow-color), inset -3px -3px 10px var(--shadow-color);
  }

  50% {
    box-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 5px var(--shadow-color-light), 0 0 15px var(--shadow-color-light), 0 0 25px var(--shadow-color-light),
      0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 60px var(--shadow-color), 0 0 80px var(--shadow-color), 0 0 110px var(--shadow-color), 0 0 210px var(--shadow-color),
      inset 4px 4px 10px var(--shadow-color), inset -4px -4px 10px var(--shadow-color);
  }

  100% {
    box-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
      0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color),
      inset 3px 3px 10px var(--shadow-color), inset -3px -3px 10px var(--shadow-color);
  }
}

@keyframes neonhex {
  0% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
      0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color),
      -3px -3px 10px var(--shadow-color), -3px -3px 10px var(--shadow-color);
  }

  50% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 5px var(--shadow-color-light), 0 0 15px var(--shadow-color-light), 0 0 25px var(--shadow-color-light),
      0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 60px var(--shadow-color), 0 0 80px var(--shadow-color), 0 0 110px var(--shadow-color), 0 0 210px var(--shadow-color),
      -4px -4px 10px var(--shadow-color), -4px -4px 10px var(--shadow-color);
  }

  100% {
    text-shadow: -1px -1px 1px var(--shadow-color-light), -1px 1px 1px var(--shadow-color-light), 1px -1px 1px var(--shadow-color-light), 1px 1px 1px var(--shadow-color-light),
      0 0 3px var(--shadow-color-light), 0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
      0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color), 0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color),
      -3px -3px 10px var(--shadow-color), -3px -3px 10px var(--shadow-color);
  }
}

#mainHeader {
  font-family: 'heading0';
  height: 40vh;
}

#interactiveButtons {
  margin-top: 3em;
}

#restartButton {
  font-size: 1.3em;
  font-family: 'heading0';
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  left: 0;
  right: 0;
  margin-top: auto;
  margin-bottom: auto;
  top: 80%;
  bottom: 0;
}

#settingsButton {
  font-size: 1.3em;
  font-family: 'heading0';
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  left: 40%;
  right: 0;
  margin-top: auto;
  margin-bottom: auto;
  top: 3%;
  bottom: 0;
}

.main-header {
  letter-spacing: .2rem;
  text-transform: uppercase;
  font-size: 10em;
  color: #D33FFF;
  position: relative;
  z-index: 2;
  text-align: center;
  overflow: visible;
}

.battle-title {
  font-size: 6em;
  padding: 275px 20px 200px 20px;
}

.scoreboard {
  font-family: 'heading0';
  font-size: 3rem;
  letter-spacing: .2rem;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
  color: #D33FFF;
  text-align: center;
  overflow: visible;
  margin-top: 2rem;
}

.neon {
  color: #f0f0f0;
  -webkit-animation: fadein 1s;
  animation: neon 3s infinite, fadein 1s;
  transform: rotateZ(360deg);
}


.button {
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}

.button-neon {
  border: 2px solid #f0f0f0;
  animation: neonbox 3s infinite, fadein 1s;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.fadeOut {
  animation: fadeout 1s;
}

.fadeIn {
  animation: fadein 1s;
}

.col-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}


.col-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}